@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    justify-content: right;
    text-align: right;
    margin-right: 15px;
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: 2;
}

header a {
    cursor: pointer;
    text-decoration: none;
}

#menu {
    height: 80px;
    padding: 0 20px;
}


#logo {
    font-size: 30px;
    line-height: 80px;
    color: rgb(4, 4, 126);
    float: left;
    position: absolute;
    background-color: transparent;
}

nav {
    float: right;
    line-height: 80px;
}

nav a:link {
    text-decoration: none;
    margin-right: 25px;
    color: rgb(4, 4, 126);
}

nav a:hover {
    border-bottom: 1px solid rgb(4, 4, 126);
}

nav a:visited {
    text-decoration: none;
    margin-right: 25px;
    color: rgb(4, 4, 126);
}

.ikon {
    margin-right: 4px;
    font-size: 15px;
}

#anasayfa {
    background-image: url(/images/wp.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#black {
    height: 700px;
    background-color: black;
    opacity: .5;
}

#about-us {
    background-color: white;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

#icerik {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}


#img {
    max-height: 400px;
    max-width: 1000px;
}

h3 {
    font-size: 55px;
    color: black;
    text-shadow: 0px 1px 1px;
}

.container {
    width: 1200px;
    height: auto;
    margin: auto;
    flex-direction: row;

}

#container2 {
    margin-top: -100px;
}

#sol {
    float: left;
    border-right: 2px solid black;
    color: #445c6e;
    font-size: 30px;
    width: 400px;
}

#h5sol {
    line-height: 5;
    font-size: 20px;
    font-weight: 600;
}

#h5sol,
#sag {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#psag {
    color: #003666;
    font-weight: 300;
}

span {
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float: left;
}

#sag {
    float: right;
    width: 750px;
    color: #999;
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: 100;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mt100 {
    margin-top: 100px;
}

#pson {
    color: #999;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-top: 30px;
    font-weight: 100;
}

#egitimler {
    background-color: white;
    padding: 50px;
    text-align: center;
    height: 700px;
}

.card {
    padding: 0;
    overflow: hidden;
    width: 320px;
    height: 350px;
    border: 1px solid #ddd;
    display: inline-block;
    transition: .5s;
    cursor: pointer;
    margin: 5px;
}

.card:hover {
    transform: scale(1.05);
}

.baslikcard {
    font-size: 18px;
    color: #003666;
}

.cardp {
    color: #003666;
}

.img-fluidd {
    max-width: 100%;
    height: 200px !important;
    height: auto;
}

#ekip {
    background-color: #003666;
    padding: 50px;
    height: 890px;
    text-align: center;
}

#ekiph3 {
    color: white;
}

.sutun-sol-sag {
    width: 385px;
    float: left;
    padding: 50px;
}

.oval {
    border-radius: 50%;
}

.ekipisim {
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}

.ekipp {
    color: #888;
    font-size: 18px;
}

.social {
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 50px;
    margin: 1.5px;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
}

.social:hover {
    transform: scale(1.1);
}

.sutun-sol-sag img {
    transition: .5s;
}

.sutun-sol-sag img:hover {
    transform: translateY(-10px);
}

#iletisim {
    background: url(/images/iletisimbg.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px;
    height: auto;
}

#h3iletisim {
    color: white;
}

#iletisimopak {
    background: rgba(255, 255, 255, .2);
    padding: 30px 20px;
    border-radius: 5px;
    height: 500px;
    margin-bottom: 50px;
}

.formgroup {
    float: left;
    width: 700px;
    text-align: left;
    height: 500px;
}

#solform {
    width: 50%;
    float: left;
    padding-right: 5px;
}

#sagform {
    width: 50%;
    float: right;
    padding-left: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background-color: white;
    border: 1px solid rgb(70, 70, 70);
    margin: 10px;
    border-radius: 5px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #7DA5AD;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

#adres {
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#adresbaslik {
    font-size: 30px;
    color: black;
}

.adresp {
    color: black;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#up {
    color: white;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 50%;
    padding: 12px;
    margin-top: 25px;
}

#socialfooter2 {
    margin-bottom: 22px;
}

#gonder {
    transition: .3s;
}

#gonder:hover {
    background-color: #358ea1;
}